:root {
  --bg-body: #ffeff2;
  --bg-main: #f7d9db;
  --txt-color: #282828;
  --filled-color: #282828;
  --filled-bg: #F1A7AC;
  --white: #fff;
  --blue: #fc0d1b;
  --red: #fc0d1b;
  --black: #282828;
  --border-color: #AE95B2;
  --nav-size: 70px;
  --sudoku-cell-size: 5vw;
  --border-radius: 2px;
  --space-y: 20px;
  --gap: 4px 4px;
  --font-size: 1.5em;
  --font-size-1g: 2em;
  --font-size-x1: 3em;
}

.dark {
  --bg-main: #2a2a38 !important;
  --bg-body: #1a1a2e !important;
  --txt-color: #b8b8b8 !important;
  --filled-color: #9292a7 !important;
  --border-color: #3E78B2;
  --blue: #3E78B2;
  --red: #e91e63;
  --filled-bg: #000 !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-body);
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Space Mono', monospace;
}

input {
  border: 2px solid var(--bg-main);
  color: var(--txt-color);
}

input:hover, input:focus {
  border-color: var(--blue);
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: unset;
}

nav {
  background-color: var(--bg-body);
  color: var(--txt-color);
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 5px 2px var(--bg-main);
          box-shadow: 5px 2px var(--bg-main);
  z-index: 99;
}

.nav-container {
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4em;
  height: var(--nav-size);
}

#nav-logo {
  font-size: var(--font-size-1g);
  color: var(--blue);
}

.shake {
  -webkit-animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dark-mode-toggle {
  color: var(--blue);
  font-size: var(--font-size-1g);
  cursor: pointer;
}

.bxs-sun {
  display: none;
}

.bxs-moon {
  display: inline-block;
}

.dark .bxs-sun {
  display: inline-block;
}

.dark .bxs-moon {
  display: none;
}

.main {
  height: 100vh;
  padding-top: var(--nav-size);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 40%;
}

svg {
  position: absolute;
  width: 30vw;
  left: 5em;
  bottom: 5em;
  -webkit-animation: teasing .8s infinite ease-in-out;
          animation: teasing .8s infinite ease-in-out;
}

@-webkit-keyframes teasing {
  0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

@keyframes teasing {
  0% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start-screen.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.start-screen > * + * {
  margin-top: 20px;
}

.input-name {
  height: 2.5em;
  width: 10em;
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--bg-main);
  padding: 20px;
  font-size: var(--font-size-1g);
  text-align: center;
}

.btn {
  height: 2.5em;
  width: 10em;
  background-color: var(--bg-main);
  color: var(--txt-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  overflow: hidden;
  font-size: var(--font-size-1g);
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.input-err {
  border-color: var(--red);
  -webkit-animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: trasnform .3s ease-in-out;
  transition: trasnform .3s ease-in-out;
}

.main-game.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-sudoku-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[9];
      grid-template-columns: repeat(9, auto);
  gap: var(--gap);
  max-height: 60vh;
}

.main-grid-cell {
  height: var(--sudoku-cell-size);
  width: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--blue);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  .main-grid-cell {
    height: 4vw;
    width: 4vw;
  }
}

.main-grid-cell.filled {
  background-color: var(--filled-bg);
  color: var(--filled-color);
}

.main-grid-cell.selected {
  background-color: var(--border-color);
  color: var(--white);
}

.main-grid-cell:hover {
  border: 2px solid var(--border-color);
}

.main-grid-cell.hover {
  border: 3px solid var(--border-color);
}

.dark .main-grid-cell.hover {
  border: 1px solid var(--border-color);
}

.main-grid-cell.err {
  background-color: var(--red);
  color: var(--white);
}

.main-game-info {
  margin-top: var(--space-y);
  margin-bottom: 1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.main-game-info-box {
  height: 2em;
  background-color: var(--bg-main);
  color: var(--txt-color);
  border-radius: var(--border-radius);
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 20px;
  font-size: var(--font-size);
}

.main-game-info-time {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: auto;
  min-height: 2em;
}

@media only screen and (min-width: 850px) {
  .main-game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5em;
  }
}

@media only screen and (max-width: 800px) {
  .main-game {
    font-size: .8em;
  }
}

@media only screen and (max-width: 400px) {
  .main-game {
    font-size: .6em;
  }
}

@media only screen and (max-width: 800px) {
  .info-section {
    font-size: .8em;
  }
}

.pause-btn {
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.numbers {
  margin-top: var(--space-y);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.number {
  height: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--txt-color);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.delete {
  background-color: var(--red);
  color: var(--white);
  height: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.pause-screen,
.result-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.pause-screen.active,
.result-screen.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pause-screen > * + *,
.result-screen > * + * {
  margin-top: 20px;
}

.result-screen.active div {
  -webkit-animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pause-screen.active .btn {
  -webkit-animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.result-screen .congrate {
  font-size: var(--font-size-x1);
  color: var(--blue);
}

.result-screen .info {
  color: var(--txt-color);
  font-size: var(--font-size);
}

#result-time {
  color: var(--blue);
  font-size: var(--font-size-x1);
}

.zoom-in {
  -webkit-animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cell-err {
  -webkit-animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes zoom-out-shake {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  25% {
    -webkit-transform: scale(2) rotate(30deg);
            transform: scale(2) rotate(30deg);
  }
  50% {
    -webkit-transform: scale(2) rotate(-30deg);
            transform: scale(2) rotate(-30deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-out-shake {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  25% {
    -webkit-transform: scale(2) rotate(30deg);
            transform: scale(2) rotate(30deg);
  }
  50% {
    -webkit-transform: scale(2) rotate(-30deg);
            transform: scale(2) rotate(-30deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --nav-size: 50px;
    --border-radius: 5px;
    --space-y: 10px;
    --gap: 2px;
    --font-size: 1em;
    --font-size-1g: 1.5em;
    --font-size-x1: 2em;
  }
  .input-name,
  .btn {
    height: 50px;
  }
  .main-grid-cell.hover {
    border-radius: 2px;
  }
  .main-grid-cell {
    width: 9.5vw;
    height: 9.5vw;
    font-size: 1.5em;
  }
  .info-section {
    font-size: 1.5em;
  }
  .number {
    height: 12vw;
  }
  .delete {
    height: 12vw;
  }
  .main-game-info-box {
    height: 2.5em;
  }
}

@media only screen and (min-width: 541px) and (max-width: 820px) {
  .main-grid-cell.hover {
    border-radius: 2px;
  }
  .main-grid-cell {
    width: 8vw;
    height: 8vw;
    font-size: 2em;
  }
  .info-section {
    font-size: 1em;
  }
  .number {
    height: 10vw;
  }
  .delete {
    height: 10vw;
  }
  .main-game-info-box {
    height: 2.5em;
  }
}
/*# sourceMappingURL=styles.css.map */